/* サイト全体 */
a {
  color: black;
  text-decoration: none;
}

.Header{
  height: 45px;
  background-color: #FFFFFF;
}

.MainFooter{
  height: 150px;
  background-color: #FFFFFF;
}

.PageTitle {
  color: #134970;
  margin: 30px;
}

.Wrap {
  padding: 30px;
}
/* サイト全体 */

/* サイドバー */
.Sidebar{
  height: 100%;
  width: 250px;
  padding: 70px 0 0 20px;
  color: white;
  background-color: #134970;
}

.Sidebar a {
  display: flex;
  font-size: 30px;
  color: white;
  padding-top: 30px;
}
/* サイドバー */

/* メインページ */
.MainBackground {
  background: linear-gradient(20deg, #929090, #000000); 
}

.MainTopImage {
  width: 100%;
  height: 500px;
  background-color: aliceblue;
}

.MainContents{
  width: 60%;
  margin: 50px auto;
}

.MainNews {
  height: 300px;
  border: 1px solid white;
  display: flex;
}

.EachTransitionPages {
  margin-top: 100px;
}

.EachTransitionPages a {
  width: 100%;
  height: 800px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid white;
}

.RecipeImage {
  background: -moz-linear-gradient(top, #2E5F83, rgba(76, 0, 255, 0.1));
  background: -webkit-linear-gradient(top, #2E5F83, rgba(255, 0, 0, 0.1));
  background: linear-gradient(to bottom, #2E5F83, rgba(255, 0, 0, 0.1));
}

.FantasyImage {
  background: -moz-linear-gradient(top, #2E5F83, rgba(76, 0, 255, 0.1));
  background: -webkit-linear-gradient(top, #2E5F83, rgba(255, 0, 0, 0.1));
  background: linear-gradient(to bottom, #2E5F83, rgba(255, 0, 0, 0.1));
}

.AboutImage {
  background: -moz-linear-gradient(top, #2E5F83, rgba(76, 0, 255, 0.1));
  background: -webkit-linear-gradient(top, #2E5F83, rgba(255, 0, 0, 0.1));
  background: linear-gradient(to bottom, #2E5F83, rgba(255, 0, 0, 0.1));
}

.ContactImage {
  background: -moz-linear-gradient(top, #2E5F83, rgba(76, 0, 255, 0.1));
  background: -webkit-linear-gradient(top, #2E5F83, rgba(255, 0, 0, 0.1));
  background: linear-gradient(to bottom, #2E5F83, rgba(255, 0, 0, 0.1));
}
/* メインページ */

/* 料理ページ */
.RecipeTopImage {
  width: 100%;
  height: 500px;
  background-color: aliceblue;
}
/* 料理ページ */

/* 料理投稿ページ */
.EachRecipeArea {
  width: 100vw;
  min-height: 300px;
  display: flex;
  /* padding: 30px; */
}

.EachRecipe {
  width: 300px;
  height: 300px;
  border: 1px solid #929090;
  border-radius: 6px;
  margin: 20px 20px 0 0;
  text-align: end;
  position: relative;
}

.RecipeName {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}
/* 料理投稿ページ */